<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Projects | SA</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-gray-100">
    <header class="bg-red-600 text-white">
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex justify-between h-16">
          <div class="flex">
            <div class="shrink-0 flex items-center">
              <img class="h-8 w-auto" src="https://successanalytics.in/logo.ab81d45e.png" alt="Logo">
            </div>
            <div class="hidden sm:ml-6 sm:flex sm:space-x-8">
              <a href="#" class="inline-flex items-center px-1 pt-1 border-b-2 border-white text-sm font-medium"> Home </a>
              <a href="#" class="inline-flex items-center px-1 pt-1 border-b-2 border-transparent text-sm font-medium hover:border-white"> Projects </a>
              <a href="#" class="inline-flex items-center px-1 pt-1 border-b-2 border-transparent text-sm font-medium hover:border-white"> About </a>
              <a href="#" class="inline-flex items-center px-1 pt-1 border-b-2 border-transparent text-sm font-medium hover:border-white"> Contact </a>
            </div>
          </div>
          <div class="hidden sm:ml-6 sm:flex sm:items-center">
            <button class="bg-black text-white px-3 py-2 rounded-md text-sm font-medium hover:bg-gray-700"> Sign In </button>
          </div>
          <div class="-mr-2 flex items-center sm:hidden">
            <button class="inline-flex items-center justify-center p-2 rounded-md text-white hover:text-gray-400 hover:bg-gray-700 focus:outline-none focus:bg-gray-700 focus:text-white">
              <svg class="h-6 w-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
              </svg>
            </button>
          </div>
        </div>
      </div>
      <div class="sm:hidden">
        <div class="pt-2 pb-3 space-y-1">
          <a href="#" class="block pl-3 pr-4 py-2 border-l-4 border-white text-base font-medium">Home</a>
          <a href="#" class="block pl-3 pr-4 py-2 border-l-4 border-transparent text-base font-medium hover:border-white">Projects</a>
          <a href="#" class="block pl-3 pr-4 py-2 border-l-4 border-transparent text-base font-medium hover:border-white">About</a>
          <a href="#" class="block pl-3 pr-4 py-2 border-l-4 border-transparent text-base font-medium hover:border-white">Contact</a>
          <a href="#" class="block pl-3 pr-4 py-2 border-l-4 border-transparent text-base font-medium hover:border-white">Sign In</a>
        </div>
      </div>
      <h1 class="text-center py-10 text-3xl md:text-5xl font-semibold">ZOMATO TIME PREDICTION</h1>
    </header>

    <div class="flex max-w-[1500px] w-full justify-center m-auto min-h-screen">
      <!-- Logos -->
      <img src="https://successanalytics.in/logo.ab81d45e.png" alt="Logo" class="fixed top-0 left-0 w-12 opacity-0 hover:opacity-100" />
      <img src="https://successanalytics.in/logo.ab81d45e.png" alt="Logo" class="fixed bottom-0 left-0 w-12 opacity-0 hover:opacity-100" />
      <img src="https://successanalytics.in/logo.ab81d45e.png" alt="Logo" class="fixed top-0 right-0 w-12 opacity-0 hover:opacity-100" />
      <img src="https://successanalytics.in/logo.ab81d45e.png" alt="Logo" class="fixed bottom-0 right-0 w-12 opacity-0 hover:opacity-100" />
      <!-- Logos -->

      <!-- Hero Section Starts -->
      <section class="grid sm:grid-cols-1 md:grid-cols-3 gap-6 w-full px-6 py-12">
        <div class="flex justify-center items-center">
          <div class="rounded-md border bg-white p-4 shadow-md">
            <img src="images/13404947_5198074.jpg" alt="Training" class="h-64 w-full rounded-md object-cover mb-4" />
            <button class="w-full bg-black text-white text-lg font-semibold py-2 rounded hover:bg-black/80">
              <a href="/train">Train Pipeline</a>
            </button>
          </div>
        </div>
        <div class="flex justify-center items-center">
          <div class="rounded-md border bg-white p-4 shadow-md">
            <img src="images/12832567_5097634.svg" alt="Predictive Analytics" class="h-64 w-full rounded-md object-cover mb-4" />
            <button class="w-full bg-black text-white text-lg font-semibold py-2 rounded hover:bg-black/80">
              <a href="/predict">Single Prediction</a>
            </button>
          </div>
        </div>
        <div class="flex justify-center items-center">
          <div class="rounded-md border bg-white p-4 shadow-md">
            <img src="images/5357453_2798008.svg" alt="Batch Prediction" class="h-64 w-full rounded-md object-cover mb-4" />
            <button class="w-full bg-black text-white text-lg font-semibold py-2 rounded hover:bg-black/80">
              <a href="/batch">Batch Prediction</a>
            </button>
          </div>
        </div>
      </section>
      <!-- Hero Section Ends -->
    </div>

    <footer class="w-full bg-gray-800 flex items-center justify-center p-4 fixed bottom-0">
      <img src="https://successanalytics.in/logo.ab81d45e.png" alt="Logo" class="w-10 opacity-0 hover:opacity-100" />
      <p class="text-white opacity-0 hover:opacity-100 ml-2">Success Analytics</p>
    </footer>
  </body>
</html>
